<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/static/assets/Join.css">
</head>

<body>

  <div class="navbar">

    <a href="/">Home</a>

    <div class="dropdown">
      <button class="dropbtn">Bio

      </button>
      <div class="dropdown-content">
        <a href="/static/assets/Earlylife.html">Early life</a>
        <a href="/static/assets/Career.html">Career</a>
        <a href="FunFacts.html">Fun Facts</a>
      </div>
    </div>

    <a href="/static/assets/Quiz.html">Quiz</a>

    <div class="dropdown">
      <button class="dropbtn">Music

      </button>
      <div class="dropdown-content">
        <a href="/static/assets/ViewAll.html">View All</a>
        <a href="/static/assets/HarryStyles.html">Harry Styles</a>
        <a href="/static/assets/FineLine.html">Fine Line</a>
        <a href="/static/assets/HarrysHouse.html">Harry's House </a>
        <a href="/static/assets/LivePerformances.html">Live Performances </a>
      </div>
    </div>
    <a href="/static/assets/TPWK.html">TPWK</a>
    <button class="gradient-button" onclick="window.location='/static/assets/logIn.html'">Log In</button>
    <button class="gradient-button" onclick="window.location='./join'">Join</button>
  </div>



  <div class="container">
    <div class="left-col">
      <h1>Harry Styles</h1>
      <p>"Trick Or Treat People With Kindness"</p>
    </div>
    <div class="right-col">
      <div class="form-container">
        <form action="/join" method="POST">
          <div class="field-group">
            <label for="first-name">First Name</label>
            <input name='firstname' id="first-name" type="text" placeholder="First Name">
            <p class="error-text">First Name cannot be empty</p>
          </div>
          <div class="field-group">
            <label for="lastname">last Name</label>
            <input name='lastname' id="last-name" type="text" placeholder="Last Name">
            <p class="error-text">Last Name cannot be empty</p>
          </div>
          <div class="field-group">
            <label for="Email">Email Address</label>
            <input name='Email' id="Email" value="" type="email" placeholder="Email Address">
            <p class="error-text">Looks like this is not email</p>
          </div>
          <div class="field-group">
            <label for="password">Password Address</label>
            <input name='password' class="keyboard" id="password" value="" type="password" placeholder="Password">
            <p class="error-text">Password cannot be empty</p>
          </div>
          <button type="submit">Sign up </button>
          <p class="form-footer">By clicking the button, you are agreeing to our <span>Terms and Services</span></p>
        </form>
      </div>

    </div>
  </div>



  <footer class="footer">
    <div class="center">
      <a href="https://twitter.com/harry_styles"><img src="/static/assets/twitter.png" class="icon"></a>
      <a href="https://ro-ro.facebook.com/harrystyles"><img src="/static/assets/facebook.png" class="icon"></a>
      <a href="https://www.instagram.com/harrystyles/"><img src="/static/assets/instagram.png" class="icon"></a>
      <a href="https://www.youtube.com/channel/UCZFWPqqPkFlNwIxcpsLOwew"><img src="/static/assets/youtube.png" class="icon"></a>
    </div>
    <img src="/static/assets/rainbow.JPG" class="rainbow">
  </footer>
  <script src="join.js"></script>
</body>

</html>